<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.tigetting.mapper.VenueSeatMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="venueSeatId">
        INSERT INTO venue_seats (venue_id, seat_row, seat_col, seat_grade, created_at)
        VALUES (#{venue.venueId}, #{seatRow}, #{seatCol}, #{seatGrade}, #{createdAt})
    </insert>

    <update id="update">
        UPDATE venue_seats
        SET seat_row = #{seatRow},
            seat_col = #{seatCol},
            seat_grade = #{seatGrade}
        WHERE venue_seat_id = #{venueSeatId}
    </update>

    <select id="findById" resultMap="VenueSeatResultMap">
        SELECT * FROM venue_seats WHERE venue_seat_id = #{id}
    </select>

    <select id="findByVenueId" resultMap="VenueSeatResultMap">
        SELECT * FROM venue_seats WHERE venue_id = #{venueId}
    </select>

    <delete id="deleteById">
        DELETE FROM venue_seats WHERE venue_seat_id = #{id}
    </delete>

    <resultMap id="VenueSeatResultMap" type="VenueSeat">
        <id property="venueSeatId" column="venue_seat_id"/>
        <result property="seatRow" column="seat_row"/>
        <result property="seatCol" column="seat_col"/>
        <result property="seatGrade" column="seat_grade"/>
        <result property="createdAt" column="created_at"/>
        <association property="venue" column="venue_id" select="com.ssafy.tigetting.venue.mapper.VenueMapper.findById"/>
    </resultMap>

</mapper>
